<form class="example-form" [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="sex">Sex: </mat-label>
    <select id="sex" formControlName="sex" matNativeControl required>
      <option *ngFor="let sex of sexes" [value]="sex">
        {{ sex }}
      </option>
    </select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="full-name">Full Name: </mat-label>
    <input matInput id="full-name" type="text" formControlName="fullName" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="serviceType">Service Type: </mat-label>
    <select
      id="serviceType"
      formControlName="serviceType"
      matNativeControl
      required
    >
      <option *ngFor="let serviceType of serviceTypes" [value]="serviceType">
        {{ serviceType }}
      </option>
    </select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="statusExpiration">Service Status Expiration: </mat-label>
    <mat-hint> (הזמן לסיום החובה\קבע) </mat-hint>
    <input
      matInput
      id="statusExpiration"
      type="date"
      formControlName="statusExpiration"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="address"> Full Address: </mat-label>
    <input matInput id="address" type="text" formControlName="address" />
  </mat-form-field>

  <p>Complete the form to enable button.</p>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    style="justify-content: center"
    [disabled]="!personForm.valid"
  >
    Submit
  </button>
</form>
