<div class="example-form">
  <input
    type="filter"
    class="example-form"
    id="search-text"
    aria-describedby="search-text"
    [(ngModel)]="freeFilter"
    placeholder="חיפוש חופשי"
    autofocus
  />
</div>

<mat-form-field appearance="fill">
  <mat-label>Sex</mat-label>
  <select matNativeControl required [(ngModel)]="searchText">
    <option value="">ALL</option>
    <option value="MALE">MALE</option>
    <option value="FEMALE">FEMALE</option>
  </select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th class="mat-header" mat-header-cell *matHeaderCellDef>Position</th>
    <td calss="" mat-cell *matCellDef="let element; let i = index">
      {{ i + 1 }}
    </td>
  </ng-container>

  <ng-container
    [matColumnDef]="column"
    *ngFor="let column of autoDisplayedColumns"
  >
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="deleteRow(element)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="allColumns"
    [ngClass]="{ 'grey-row': true }"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: allColumns"
    [matTooltip]="getRowTooltip(row)"
    [ngClass]="{
      'orange-row': expirationStatus(row) === 'SHORT',
      'green-row': expirationStatus(row) === 'LONG',
      'red-row': expirationStatus(row) === 'EXPIRED',
      'blue-row':
        getPersonDistance(row) > 100 && expirationStatus(row) !== 'EXPIRED'
    }"
  ></tr>
</table>
